.react_conf_movie {
  padding: 3rem 0;
  max-width: 560px;
  width: 100%;
}

.iframe_wrapper {
  position: relative;
  /* 16:9 */
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe_wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
