.container {
  padding: 0 2rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #55c500;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.title,
.description,
.subtitle {
  text-align: center;
}

.subtitle {
  margin: 0;
  margin-top: 2rem;
  font-size: 1.7rem;
}

.list {
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.listitem {
  font-size: 1.3rem;
  color: #55c500;
}

.description {
  margin-top: 2rem;
  font-size: 1.3rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
