.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--border-color);
}

.logo {
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dark-mode-button-container {
  display: flex;
  margin-left: 8px;
  margin-right: 32px;
}

.dark-mode-button-left-label {
  margin-right: -6px;
}

.dark-mode-button-right-label {
  margin-left: 2px;
}

.spacer {
  flex-grow: 1;
}

.menu {
  display: flex;
  list-style: none;

  li {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
