.container {
  max-width: 720px;
  margin: 0 auto;
  padding: 32px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.content {
  border-radius: 16px;
  border: 1px solid #eaeaea;
  box-shadow: 0.3px 0.3px 0.6px hsl(208deg 65% 37% / 0.15),
    6.5px 7.2px 13.7px -0.2px hsl(208deg 65% 37% / 0.39),
    15.2px 16.9px 32px -0.4px hsl(208deg 65% 37% / 0.62),
    33.9px 37.7px 71.5px -0.6px hsl(208deg 65% 37% / 0.86);

  flex: 1;
}

.content__inner {
  padding: 32px;
}

.content h1 {
  font-weight: bold;
  font-size: 1.8rem;
}

.content h2 {
  margin-top: 24px;
  font-weight: bold;
  font-size: 1.4rem;
}

.content p {
  margin-top: 16px;
  line-height: 1.6;
}

.content a {
  color: #128c91;
}
