.door {
  position: absolute;
  top: 60px;
  right: 100px;
}

.tree {
  position: absolute;
  top: 60px;
  left: 500px;
}

@media (max-width: 768px) {
  .tree {
    left: 250px;
  }
}

.santa {
  position: absolute;
  top: 60px;
  left: 100px;
}
